<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= set.name %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', { page: '' }) %>
    <div class="container mx-auto">
        <div class="hero">
            <h1><%= set.name %></h1>
            <p>Below, you will find detailed information about the set:</p>
        </div>
        <div class="details">
            <img src="<%= set.img_url %>" alt="<%= set.name %>">
            <h2><%= set.name %></h2>
            <p>Year: <%= set.year %></p>
            <p>Theme: <%= set.theme %></p>
            <p>Number of Parts: <%= set.num_parts %></p>
            <p id="quote"></p>
            <a href="#" onclick="history.back(); return false;">Back</a>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                fetch("https://quotable.io/random")
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('quote').innerHTML = `<blockquote>${data.content}</blockquote><footer>${data.author}</footer>`;
                    });
            });
        </script>
    </div>
</body>
</html>
